html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

*{background: rgba(0, 0, 0, .1);}

div.categoryContaier {
	width: 75%;
	/*border:dashed;*/
	margin: auto;
}

div.categories {
	/*border:dashed;*/
	display: grid;
	grid-template-columns: 30% 30% 30%;
	justify-content: space-evenly;
	position: relative;
	margin: 70px 0px;
}

div.category {
	/*border:dashed;*/
	/* width: 33%; */
	overflow-wrap: break-word;
	background-color: #ddd;
	position: relative;
}

div.experience {
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: space-evenly;
	margin: 70px 0px;
}

.experience .category2 {
	border-spacing: 35px;
	/* margin: auto; */
	overflow-wrap: break-word;
	background-color: #bbbbbb;
}

button.category {
	width: 50%;
	margin: 10px 0px;
	display: block;
	position: absolute;
	left: 25%;
	bottom: 0px;
	padding: 5px;
	font-size: 1.1em;
}

#parallax1 {
	background-attachment: fixed;
	background-image: url("../assets/Mckeldin-min.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin: 10px; */
}

#parallax2 {
	background-attachment: fixed;
	background-image: url("../assets/Gust.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 55vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin: 10px; */
}

.parallaxText {
	text-align: center;
	color: white;
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 9vh;
	/* text-shadow: 0px 0px 10px #bbb; */
}

.noBackground {
	display: block;
	width: 80%;
	margin: auto;
	padding: 10px;
}

h1 {
	color: aliceblue;
	/* border:solid; */
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 40px;
	padding: 150px;
}
h2 {
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 30px;
	margin: 75px 0px;
}
h3 {
	text-align: left;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	padding: 10px;
	/*margin: 150px 0px*/
}

p {
	/*background-color: #aaaaaa*/
	padding: 10px 10px 20px;
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
	font-family: "Lato", sans-serif;
}
