div.main {
    width: 90%;
    /* border:dashed; */
    margin: auto;
}

div.page {
    /* border:dashed; */
    display: flex;
}      
div.nav {
    /*border:dashed;*/
    display: block;
    width: 25%;
} 
div.content {
    /* border:dashed; */
    display: block;
    width: 75%;
    margin : 1%;
}
div.item {
    /* border:dashed; */
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
/* Change the link color on hover */
li:hover {
    background-color: #555;
    color: white;
}
li.selected { 
    display: block; 
    color: #fff; 
    padding: 8px 16px; 
    text-decoration: none; 
    background-color: #000080;
}
li:hover:not(.selected){
    background-color: #555;
    color: white; 
}

pre{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
    padding: 5px;
    background-color: #eee;
    /* width: 650px; */
    padding-bottom: 20px;
    max-height: 600px;
}


h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 150px 0px
}
h2 {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 25px 0px
}
h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    /*margin: 150px 0px*/
}

p {
    /*background-color: #aaaaaa*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}