<head>
    <style>
        body {
            width: 100%;
            margin: 0;

            /*google gray 900*/
            background-color: rgb(32, 33, 36);
        }


        canvas {
            display: block;
            margin-top: 10vh;
            max-width: 80vw;
            max-height: 80vh;
            width: auto;
            height: auto;
        }

        #container {
            margin: auto;
            width: min-content;
        }

        #scoreboard {
            margin: auto;
            width: 100%;
        }

        #right {
            float: right;
        }

        .score {
            font-size: 2.2em;

            /*google gray 700*/
            color: rgb(95, 99, 104);
        }

        .big {
            font-size: 3em;

            /*google gray 500*/
            color: rgb(154, 160, 166);

        }
    </style>

</head>

<body>

    <div id="container">
        <canvas id="canvas" width="1680" height="1200"></canvas>
        <div id="scoreboard">
            <span id="left" class="score">0</span>
            <span id="right" class="score">0</span>
        </div>
    </div>
    <script src="tron.js"></script>
    <script>
        window.onload = init();
    </script>
</body>