<head>
	<link rel="stylesheet" href="index.css" />
</head>

<body>
	<div class="background">
		<img
			src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Mckeldin-min.jpg"
			alt=""
		/>
	</div>

	<h1 class="hibenny">
		Hi Bennny
	</h1>
	<div class="spacer"></div>

	<div class="navbar-container">
		<div class="name-container">
			<a href="#">
				<div class="navbar-name">
					<h1>
						Glenn Seidell
					</h1>
					<p>Thats a me</p>
				</div>
			</a>
		</div>
		<ul class="navbar">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="secondPage.html">Page 2</a>
			</li>
			<li>
				<a
					id="specialLink"
					href="http://gseidell.ddns.net/repo/my_stuff/colorTime.html"
				>
					<pre>
Some stupid project I made 
hosted externally because three
links looks better than two
						</pre
					>
				</a>
			</li>
		</ul>
	</div>
	<div class="content">
		<h1>My Favorite roof (Cole)</h1>
		<img
			src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Cole.jpg"
		/>
		<h1>My Favorite longboard (The day I broke it)</h1>
		<img
			src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/BrokenX.jpg"
		/>
		<h1>My Favorite dive (Reverse Dive Half Twist)</h1>
		<img
			src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/reverseDiveHalf.png"
		/>
	</div>
</body>
