/* *{background: rgba(0, 0, 0,.1); border:solid;} */

body {
	padding: 0px;
	margin: 0px;
}

.background {
	width: 100%;
	position: fixed;
}

.background img {
	width: 100%;
	height: 100%;
}

.spacer {
	height: 100%;
	margin: 0px;
}

.navbar-container {
	display: grid;
	grid-template-columns: 10% 15% 50% 15% 10%;
	background: #222;
	position: sticky;
	top: 0;
	z-index: 1;
}

.name-container {
	grid-column-start: 2;
}
.navbar-name {
	color: white;
	text-align: center;
	margin: auto;
}
.name-container a {
	color: white;
	text-decoration: none;
	font-size: large;
}
.name-container h1 {
	padding: 10px 0px;
	margin: 0px;
	font-size: 5vh;
}
.name-container p {
	padding: 0px;
	margin: 0px 0px 10px;
}

.navbar {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	background: #222;
	grid-column-start: 3;
}
.navbar li {
	display: inline;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 3vw;
	margin: auto;
}
.navbar a {
	text-decoration: none;
	color: #999;
}

h1.hibenny {
	font-size: 9vh;
	text-align: center;
	position: relative;
	top: 56vh;
	color: white;
}

.content {
	position: relative;
	width: 100%;
}
.content img {
	width: 100%;
}
.content h1 {
	margin: 0px;
	padding: 50px;
	background-color: #222;
	text-align: center;
	color: #999;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 3vw;
}

a:hover {
	color: #eee;
}

#specialLink {
	font-size: 1vh;
}
