<head>
	<style>
		h1 {
			padding-left: 50px;
			padding-top: 50px;
			display: block;
		}
		h2 {
			padding: 70px;
			position: sticky;
			top: 20px;
			background-color: white;
			width: 10%;
			box-sizing: border-box;
		}
		table {
			width: 30%;
			margin-left: 65%;
			border-collapse: collapse;
			position: sticky;
			top: 20px;
		}
		th,
		td {
			border: solid;
			padding: 15px;
		}
		th {
			text-align: left;
			background-color: #ccc;
		}
		td {
			text-align: center;
			background-color: white;
		}
		img {
			width: 50%;
			padding-left: 10%;
			padding-bottom: 10px;
			box-sizing: content-box;
		}
		@media (max-width: 1000px) {
			table {
				position: relative;
				width: 90%;
				margin: 0px;
			}
			img {
				width: 80%;
				max-width: 80%;
				max-height: 80%;
			}
		}
	</style>
</head>

<body>
	<h1>
		Ratings
	</h1>
	<table>
		<tr>
			<th>Building</th>
			<th>Climb</th>
			<th>View</th>
			<th>Roof</th>
		</tr>
		<tr>
			<td>McKeldin</td>
			<td>0</td>
			<td>10</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Clarice</td>
			<td>7</td>
			<td>6</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Xfinity</td>
			<td>10</td>
			<td>5</td>
			<td>7</td>
		</tr>
	</table>

	<h1>Evidence</h1>
	<h2>McKeldin</h2>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Mckeldin-min.jpg"
	/>
	<h2>Clarice</h2>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Clarice.jpg"
	/>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Clarice2.jpg"
	/>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Clarice3.jpg"
	/>
	<h2>Xfinity</h2>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Xfinity.jpg"
	/>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Xfinity2.jpg"
	/>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Xfinity3.jpg"
	/>
	<img
		src="https://terpconnect.umd.edu/~gseidell/csterpconnect/k389/pictures/Xfinity4.jpg"
	/>
</body>
