<<<<<<< HEAD
body {
	font-family: arial, Helvetica, sans-serif; 
	background: #F5F5DC;
	color: teal;
	font-size: 90%;
}

h1 {
	text-decoration: underline;
}

#myImage {
	border-style: double;
	border-width: 1em;
	border-color: gray;
}

#controls {
	margin-left: 1.5em;
}
=======
body {
	font-family: arial, Helvetica, sans-serif; 
	background: #F5F5DC;
	color: teal;
	font-size: 90%;
}

h1 {
	text-decoration: underline;
}

#myImage {
	border-style: double;
	border-width: 1em;
	border-color: gray;
}

#controls {
	margin-left: 1.5em;
}
>>>>>>> 2c27a4c1f9d5a5ddb1dfd3d698ffffbffaf0c301
