<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Midterm Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/Alphabetical">Alphabetical</a>
    <a href="/Date">Year Erected</a>
    <a href="/City">City</a>
    <a href="/Height">Height</a>
    <a href="/Oldest">Oldest</a>

    <body>
      <button type="button" id="createNew">Enter a Building</button> {{{body}}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
      <script>
        $('#createNew').on('click', function () {
          window.location.href = "/add/"
        });
      </script>
    </body>

</html>