.important{
    color: red;
    font-style: italic;
}
.caps{
    background-color: rgb(250, 75, 75);
}
.colHeader{
    background-color: lightblue;
}

p:hover{
    color: blue;
}
a:link {
	color: blue;	
}

a:visited {
	color:purple;
}

a:hover {
	color: red;
}

a:active {
	color: gray;
}
