<form method="POST" action="/api/addPost">
    <hr>
    Building Name
    <br>
    <input type="text" name="name">
    <hr>
    Height
    <br>
    <input type="number" name="height">
    <hr>
    YEAR OF ERECTION
    <br>
    <input type="number" name="date">
    <hr>
    Latitude : Longitude
    <br>
    <input type="number" name="lat" step=".00000001">
    <input type="number" name="long" step=".00000001">
    <hr>
    City
    <br>
    <input type="text" name="city">
    <br>
    <input type="submit" value="Submit">
</form>
{{!-- <script>
    $('#sub').on('click', function () {
        result = {
            name: $('#name').value(),
            height: $('#height').value(),
            year: $('#date').value(),
            latLong: [$('#lat').value(), $('#long').value()],
            city: $('#city').value()
        }

    });
</script> --}}