<br>
<hr>
<input type="text" id="search">

<h1>Buildings</h1>
<div id="list">
    {{#each data}}

    <div id="{{this.name}}">
        <h2>{{this.name}}</h2>
        Height: {{this.height}}
        <br>
        Year Erected: {{this.date}}
        <br>
        Location: {{this.latLong}}
        <br>
        City: {{this.city}}
    </div>

    {{/each}}
</div>
<span id="empty" style="display:none">No results</span>

<script>
    $("#search").on("change paste keyup", () => { updateList($("#search").val()); });
    function updateList(searchQuery) {
        var re = RegExp("^" + searchQuery);
        var builidings = [];
        $("#list").children().each(function (x) {
            builidings.push(this.id.toLowerCase());
            re.test(this.id.toLowerCase()) ? $(`div[id = '${this.id}']`).show() : $(`div[id = '${this.id}']`).hide();
        });

        builidings.filter(x => re.test(x)).length == 0 ? $("#empty").show() : $("#empty").hide();
    }
    updateList("");
</script>