body {
 	  
      /* background properties */
	  background-color: silver;
	  background-image: url(campusBldg.jpg);
	  background-repeat: repeat-y; /* try repeat-x, repeat-y, no-repeat, repeat */
	  background-attachment: fixed; /* try scroll, fixed */
	  background-position: center;
      
      /* shorthand version for above background properties */
      /* DISABLED background: silver url(campusBldg.jpg) repeat-y fixed center; */

}
