body {
	font-family: arial, sans-serif;
    width: 25em;
    height: 25em;
    border-style: solid;
    border-color: blue;
    padding: 1em; /* change to 0 em, 1 ... 6 em */
    margin: 1em; /* change to 0 em, 1 ... 6 em */
}

#paddingTests {
	background-color: gray;
	color: yellow;
    width: 4em;
    height: 2em;
	
	padding: 1em; /* change to 0 em, 1 ... 6 em */
	border-color: red;
	border-style: solid;  
	border-width: 1em; /* change to .5 em */
}

#marginTests {
	background-color: gray;
	color: yellow;
    width: 4em;
    height: 2em;
	
	margin: 2em; /* change to 0 em, 1 ... 6 em */
	border-color: red;
	border-style: solid;  
	border-width: 1em;
}

#outer {
    width: 6em;
	border-color: red;
	border-style: ridge;  
	border-width: 1em;    
}

#inner {
	border-color: blue;
	border-style: solid;  
	border-width: .5em;
    padding-left: .5em;
}