fieldset {
    border-radius: .75em;
}
legend {
    color: #A0522D;
    font-size: 1.2em;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-decoration: underline;
    text-shadow: 2px 2px 5px #555555;
}
