html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* *{border:dashed;} */

#projectSection{
	background: white;
	height: 100%;
}

.gimmepointer {
	cursor: pointer;
}

.projects{
	width: 70%;
	height: 50%;
	margin: auto;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	/* justify-content: space-evenly; */
	padding: 20px;
	box-sizing: border-box;
	row-gap: 10px;
	column-gap: 10px;

}

.projects * {
	width: 100%;
	height: auto;
}

#parallax1 {
	background-attachment: fixed;
	background-image: url("../assets/Mckeldin-min.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin: 10px; */
}

#parallax2 {
	background-attachment: fixed;
	background-image: url("../assets/Gust.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 55vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin: 10px; */
}

.parallaxText {
	text-align: center;
	color: white;
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 9vh;
	/* text-shadow: 0px 0px 10px #bbb; */
}

h1 {
	/* border:solid; */
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 90px;
	padding: 50px;
}
h2 {
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 30px;
	margin: 75px 0px;
}
h3 {
	text-align: left;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	padding: 10px;
	/*margin: 150px 0px*/
}

p {
	/*background-color: #aaaaaa*/
	padding: 10px 10px 20px;
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
	font-family: "Lato", sans-serif;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	/*padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	margin: auto;
  }

  /* Modal Content */
  .modal-content {
	position: relative;
	top: 10%;
	width: 50%;
	height: 80%;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	box-sizing: border-box;
	background-color: #fefefe;
	overflow: auto;
  }

  .modal-content img{
	width: 100%;
	height: auto;		
  }

  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  .gimmepointer {
	cursor: pointer;
  }

  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }